<html>
<head>
  
<title>Plezališča</title>
</head>
<body>
  
<h2>Plezališča</h2>

  
<table cellpadding="0" cellspacing="0" border="1">
  
<tr>
     

<th> Plezalisce</th>
     <th> država</th>    <th> št. smeri</th>
 
</tr>
  %for plezalisce, drzava, stevilo in plezalisca:
    <tr>
       
       
<td>{{plezalisce}}</td>
       <td>{{drzava}} </td>     <td>{{stevilo}} </td>
    
</tr>
  %end
  

</table>

  


<a href="/drzave/">Države</a>
<a href="/plezalisca/">Plezališča</a>



</body>

</html>